# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtual environments
env/
venv/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
# db.sqlite3
media/
staticfiles/
local_settings.py


# VS Code
.vscode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Git
*.orig

# Environment variable files
.env